<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a mat-icon class="navbar-brand">
      <mat-icon>menu_book</mat-icon>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#navbarColor01'"
      aria-controls="navbarColor01" [attr.aria-expanded]="!isNavbarCollapsed" aria-label="Toggle navigation"
      (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center animate__animated animate__fadeIn"
      [ngClass]="{'show': !isNavbarCollapsed}">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">
            <mat-icon class="icon">home</mat-icon> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/booksTable">
            <mat-icon class="icon">menu_book</mat-icon> Libros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservasTable">
            <mat-icon class="icon">event</mat-icon> Reservas
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<section class="container-fluid">
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th class="bg-info text-white" scope="col">Titulo</th>
        <th class="bg-info text-white" scope="col">Fecha</th>
        <th class="bg-info text-white" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas">
        <th scope="row">{{ reserva.titleDelivered }}</th>
        <td>{{ reserva.created_at | date }}</td>
        <td>
          <mat-icon class="cursor-pointer point">edit</mat-icon>
          <mat-icon class="cursor-pointer point">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</section>
