.icon {
  transition: 2ms;
  vertical-align: middle;
  margin-right: 5px;  /* Ajusta el margen según sea necesario */
}

.icon:hover{
  color: #fff;
}

.point{
  cursor: pointer;
  transition: 1ms;
}

.point:hover{
  color: #5b5eeb;
}
