<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Biblioteca</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Mi Historial</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="container-fluid">
  <app-resumeboard></app-resumeboard>
  <hr />
  <h5 class="fw-bold p-4 m-2">Libros Disponibles</h5>
  <app-books></app-books>
</section>
