.body-login{
  height: 100vh;
  background: rgb(0,212,255);
background: linear-gradient(194deg, rgba(0,212,255,1) 10%, rgba(77,77,213,1) 51%, rgba(6,78,166,1) 82%, rgba(2,0,36,1) 100%);
}

.login-aside {
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  margin-top: 4%;
  height: 50vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.scale-up-bottom{animation:scale-up-bottom 0.4s; } @keyframes scale-up-bottom{0%{transform:scale(.5);transform-origin:center bottom}100%{transform:scale(1);transform-origin:center bottom}}
